.mx-auto-csa {
    margin-left: 22vh;
    margin-right: 22vh;
}




@media only screen and (max-width: 987px) {
    .ans-mul {
        margin-top: 1rem !important;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 0.5fr));
    }

    .ans-mul button {
        padding: 15px;
    
    }

}




@media only screen and (max-width: 767px) {


    .multi * {
        font-size: 120%;
    }

    .multi * {
        margin-top: 1rem;
    }


  }



